export DMD_DB_POSTGRES="postgres"
export DMD_DB_POSTGRES_PASS="change-me-to-a-strong-password"
export DMD_DB_POSTGRES_PORT=5432
export POSTGRES_INSTANCE=127.0.0.1:5433
export RPC_URL="https://rpc.bit.diamonds"
export RPC_URL_DOCKER=http://host.docker.internal:54100/
export HOST=localhost
export PORT=4000